:root {
    --coffee-light: #aa7171;
    --coffee-medium: #6d4848;
    --coffee-dark: #3d2828;
}

.bg-primary {
    background-color: var(--coffee-medium) !important;
}

.bg-dark {
    background-color: var(--coffee-dark) !important;
    color: var(--coffee-light) !important;
}

body {
    padding: 1rem 1rem;
}

nav {
    margin-bottom: 1rem;
}

.breadcrumbs {
    height: 1rem;
    text-align: center;
    line-height: 1rem;
}

.breadcrumb-item a {
    color: gray !important;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: lightgray !important;
}

.nav-link.active {
    color: lightgray !important;
}

header {
    border: 5px solid var(--coffee-dark);
    border-radius: 20px;
}

main {
    margin: 1rem 0rem;
}

main .row div {
    border-bottom: 2px solid rgba(0, 0, 0, .4);
}

main .row div:last-child {
    border-bottom: none;
}

footer {
    margin-top: 1rem;
    border-radius: 5px;
}

footer a {
    color: gray;
}
