:root {
    --coffee-light: #aa7171;
    --coffee-medium: #6d4848;
    --coffee-dark: #3d2828;
}

.bg-primary {
    background-color: var(--coffee-medium) !important;
}

.bg-dark {
    background-color: var(--coffee-dark) !important;
    color: var(--coffee-light) !important;
}

body {
    padding: 1rem 1rem;
}

nav {
    margin-bottom: 1rem;
}

.navbar-brand {
    color: lightgray !important;
}

.nav-link.active {
    color: lightgray !important;
}

header {
    border: 5px solid var(--coffee-dark);
    border-radius: 20px;
}

footer {
    margin-top: 1rem;
    border-radius: 5px;
}

footer a {
    color: gray;
}
